/* Font Family */
*{
    font-family: 'Poppins', sans-serif;
}

h5 {
    text-transform: uppercase;
    font-weight: 900
}

.psc-widget {
    font-size: 12px;
    min-width: 410px;
    min-height: 200px;
    overflow: auto;
    height: 100%;
    padding: 5px 18px
}

.psc-loading {
    display: none;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    margin-top: 2px;
    background-size: 20px;
    background-repeat: no-repeat
}

.psc-select-header {
    display: inline-block
}

#psc-selections-wrapper {
    margin-right: 5%
}

#psc-info-wrapper,
#psc-selections-wrapper {
    width: auto;
    display: inline-flex;
    flex-direction: column
}

#psc-info-header {
    display: block
}

#psc-info-header h5,
#psc-info-header p {
    display: inline-block
}

#psc-info-header p {
    margin: 0 0 0 15px;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 20px;
    color: gray
}

#psc-info-header p.selected {
    border-bottom: 2px solid #FE3116;
    color: #000
}

.psc-ctm-wrap p,
.psc-tm-wrap p {
    margin-bottom: 12px
}

.psc-ctm-wrap,
.psc-tm-wrap {
    display: inline-block;
    margin-bottom: 4%
}

.psc-ts-wrap,
.psc-tsd-wrap {
    float: left
}

/*.psc-tsd-wrap {
    display: none
}*/

table.psc-table {
    margin-top: 20px;
    border-spacing: 0;
    border: none;
}

.psc-table th,
.psc-title {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

th.psc-diff-header {
    font-size: 12px
}

.psc-table td {
    width: 80px;
    padding: 0 5px;
    line-height: 1;
    border: none;
}

.psc-table td>span {
    display: block
}

.psc-widget select {
    height: 32px;
    padding: 3px;
    width: 124px;
    color: #555
}

.psc-value,
.psc-widget select {
    box-sizing: border-box;
    background-color: #fcfcfc;
    box-shadow: none;
    font-size: 12px;
    border: 1px solid #ccc
}

.psc-value {
    height: 36px;
    line-height: 34px;
    text-align: center;
    border-radius: 6px;
    min-width: 59px
}

.psc-exp {
    font-size: 10px;
    color: #a3a3a3
}

.psc-clear {
    clear: both
}

td.psc-image {
    text-align: center;
    transform: scale(.8);
    padding-left: 0
}

.psc-sprite {
    background-image: url("icons.png");
    background-repeat: no-repeat;
    display: inline-block
}

#psc-form-submit {
    display: none
}

.psc-input-select-group span {
    width: 140px;
    line-height: 32px;
    text-align: left;
    display: inline-block;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.psc-input-select-group span.psc-third-input {
    width: 124px
}

span.psc-sizetype,
span.psc-sizetype1 {
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    line-height: 20px;
    color: gray
}

span.psc-sizetype1.selected,
span.psc-sizetype.selected {
    border-bottom: 2px solid #FE3116;
    color: #000;
    cursor: pointer
}

.psc-sizetype,
.psc-sizetype1 {
    margin-top: -1px;
    vertical-align: middle
}

.psc-bottom-wrap {
    margin-top: 20px
}

.psc-ts-table .psc-diameter {
    background-position: 0 -82.2px;
    width: 75px;
    height: 71.5px
}

.psc-ts-table .psc-width {
    background-position: 0 -306px;
    color: red;
    width: 40px;
    height: 75px
}

.psc-ts-table .psc-sidewall {
    background-position: 0 -236px;
    width: 70px;
    height: 69.5px
}

.psc-ts-table .psc-circumference {
    background-position: 0 0;
    width: 80px;
    height: 81.59px
}

.psc-ts-table .psc-revsmile {
    background-position: 0 -154.5px;
    width: 80px;
    height: 81.3px
}

.psc-tsd-table tbody tr:first-child>td {
    padding-top: 20px
}

.psc-tsd-table>tbody>tr>td {
    padding: 9px 5px
}

.psc-first-input:after {
    content: "/";
    text-align: center;
    line-height: 32px;
    color: #666;
    width: 25px;
    display: inline-block
}

#flotation1 .psc-first-input:after,
#flotation2 .psc-first-input:after {
    content: "x"
}

.psc-second-input:after {
    content: "R";
    text-align: center;
    line-height: 32px;
    color: #666;
    width: 25px;
    display: inline-block
}

.psc-small.psc-widget {
    text-align: center
}

.psc-small .psc-ts-wrap {
    border: none;
    padding-right: 0;
    float: none
}

.psc-small .psc-tsd-wrap {
    padding-left: 0;
    clear: both;
    margin: 0 auto;
    float: none
}

.psc-small .psc-table {
    margin: 0 auto
}

.psc-small .psc-ctm-wrap,
.psc-small .psc-tm-wrap {
    float: none;
    margin: 0 0 20px
}

.psc-small .psc-input-group {
    padding-left: 10px
}

.psc-smallest {
    font-size: 10px
}

.psc-smallest h2 {
    font-size: 14px
}

.psc-smallest .psc-table th,
.psc-smallest .psc-title {
    font-size: 12px
}

.psc-smallest .psc-table td {
    width: 69px
}

.psc-smallest .psc-tsd-table td {
    padding: 5px
}

.psc-smallest td.psc-image {
    transform: scale(.6)
}

.psc-smallest th.psc-diff-header {
    font-size: 11px
}

.psc-smallest .psc-diameter {
    background-position: 0 -61.5px;
    width: 60px;
    height: 53.5px;
    background-size: 60px
}

.psc-smallest .psc-width {
    background-position: 0 -283px;
    width: 39px;
    height: 70px;
    background-size: 74px
}

.psc-smallest .psc-sidewall {
    background-position: 0 -206.5px;
    width: 61px;
    height: 61px;
    background-size: 70px
}

.psc-smallest .psc-circumference {
    background-position: 0 0;
    width: 64px;
    height: 65.5px;
    background-size: 64px
}

.psc-smallest .psc-revsmile {
    background-position: 0 -129px;
    width: 63px;
    height: 68px;
    background-size: 67px
}

.psc-smallest .psc-select {
    font-size: 10px;
    padding: 1px;
    width: 95px
}

.psc-smallest .psc-input-select-group span {
    width: 110px
}

.vs {
    width: 2px;
    padding: 0;
    text-align: center;
    font-size: 16px
}

#psc-disclaimer {
    text-align: left;
    font-size: 12px;
    color: #d3d3d3;
    display: block;
    max-width: 400px;
    margin: 20px 0;
    line-height: 20px
}

.psc-input-group.psc-input-select-group {
    display: flex;
    align-items: center;
}

.psc-input-select-group select {
    padding: 5px;
    width: 100%;
    font-size: 12px;
}

.psc-value {
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 6px;
    min-width: 59px;
}

#speedWrapper {
    width: 280px;
}

#psc-selections-wrapper p,
.psc-ts-wrap p,
.psc-tsd-wrap p {
    font-size: 12px;
}

@media(max-width:480px) {
    .psc-input-group.psc-input-select-group {
        flex-flow: column;
        align-items: flex-start;
    }

    .psc-input-select-group span {
        width: 100%;
        margin-bottom: 5px;
    }

    .psc-input-select-group span.psc-third-input {
        width: calc(100% - 23.48px);
    }

    div#sizeWrapper {
        overflow-x: auto;
        max-width: 300px;
    }
}